// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

.outer
{
  bottom: 0px;
  height: auto;
  width: 100%;
  overflow: auto;
  margin-top: $breadcrumbs-height;
}

.js .outer
{
  margin-top: $header-height;
}

@media(max-width: $sidebar-breakpoint-x - 1)
{
  .outer
  {
    margin-top: auto;
  }

  html:not(.open-sidebar).mobile .outer
  {
    position: static;
  }

  html:not(.open-sidebar).mobile.scrollDown .outer
    {
      margin-top: $breadcrumbs-height;
    }

  .mobile.open-sidebar .outer
  {
    position: absolute;
  }
}

@media(min-width: $sidebar-breakpoint-x)
{
  html[dir="ltr"] .outer
    {
      padding-left: $sidebar-width;
    }

  html[dir="rtl"] .outer
    {
      padding-right: $sidebar-width;
    }
}
