// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

#navbar
{
  height: $lg;
  padding: 0 $md;
  background-color: $primary-bg;
  line-height: $lg;

  img
  {
    height: $sm;
    margin: 0;
  }
}

.js #navbar
{
  position: absolute;
  z-index: 1;
  top: 0;
}

.site-title
{
  margin: 0;
  font-size: 17px;
  line-height: 64px;
  word-spacing: -2px;
}

.site-title a
{
  color: $primary-fg;
  text-decoration: none;
  font-weight: 300;
}

.site-title a strong
{
  font-weight: 400;
}

@media(min-width: $sidebar-breakpoint-x)
{
  html[dir="rtl"] .site-title
  {
    margin-right: $sidebar-width;
  }
  html[dir="ltr"] .site-title
  {
    margin-left: $sidebar-width;
  }
}

@media(max-width: $sidebar-breakpoint-x - 1)
{
  html[dir="ltr"] #navbar
  {
    margin-left: 60px;
  }

  html[dir="rtl"] #navbar
  {
    margin-right: 60px;
  }

  html[dir="ltr"].js #navbar
  {
    margin-left: 150px;
  }

  html[dir="rtl"].js #navbar
  {
    margin-right: 150px;
  }

  .js #navbar
  {
    z-index: 2;
    padding: 0;
    width: auto;
  }

  html:not(.open-sidebar).mobile #navbar
  {
    position: fixed;
    transition: transform 0.2s ease-in-out;
  }

  html:not(.open-sidebar).mobile.scrollDown #navbar
  {
    transform: translate(0,-$header-height);
  }
}
