.m-a-na {
  margin: 0 0 !important; }

.m-t-na {
  margin-top: 0 !important; }

.m-b-na {
  margin-bottom: 0 !important; }

.m-x-na {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-y-na {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-a-xs {
  margin: 8px 8px !important; }

.m-t-xs {
  margin-top: 8px !important; }

.m-b-xs {
  margin-bottom: 8px !important; }

.m-x-xs {
  margin-right: 8px !important;
  margin-left: 8px !important; }

.m-y-xs {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.m-a-sm {
  margin: 16px 16px !important; }

.m-t-sm {
  margin-top: 16px !important; }

.m-b-sm {
  margin-bottom: 16px !important; }

.m-x-sm {
  margin-right: 16px !important;
  margin-left: 16px !important; }

.m-y-sm {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.m-a-md {
  margin: 32px 32px !important; }

.m-t-md {
  margin-top: 32px !important; }

.m-b-md {
  margin-bottom: 32px !important; }

.m-x-md {
  margin-right: 32px !important;
  margin-left: 32px !important; }

.m-y-md {
  margin-top: 32px !important;
  margin-bottom: 32px !important; }

.m-a-lg {
  margin: 64px 64px !important; }

.m-t-lg {
  margin-top: 64px !important; }

.m-b-lg {
  margin-bottom: 64px !important; }

.m-x-lg {
  margin-right: 64px !important;
  margin-left: 64px !important; }

.m-y-lg {
  margin-top: 64px !important;
  margin-bottom: 64px !important; }

.m-a-xl {
  margin: 96px 96px !important; }

.m-t-xl {
  margin-top: 96px !important; }

.m-b-xl {
  margin-bottom: 96px !important; }

.m-x-xl {
  margin-right: 96px !important;
  margin-left: 96px !important; }

.m-y-xl {
  margin-top: 96px !important;
  margin-bottom: 96px !important; }

.p-a-na {
  padding: 0 0 !important; }

.p-t-na {
  padding-top: 0 !important; }

.p-b-na {
  padding-bottom: 0 !important; }

.p-x-na {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.p-y-na {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-a-xs {
  padding: 8px 8px !important; }

.p-t-xs {
  padding-top: 8px !important; }

.p-b-xs {
  padding-bottom: 8px !important; }

.p-x-xs {
  padding-right: 8px !important;
  padding-left: 8px !important; }

.p-y-xs {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.p-a-sm {
  padding: 16px 16px !important; }

.p-t-sm {
  padding-top: 16px !important; }

.p-b-sm {
  padding-bottom: 16px !important; }

.p-x-sm {
  padding-right: 16px !important;
  padding-left: 16px !important; }

.p-y-sm {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.p-a-md {
  padding: 32px 32px !important; }

.p-t-md {
  padding-top: 32px !important; }

.p-b-md {
  padding-bottom: 32px !important; }

.p-x-md {
  padding-right: 32px !important;
  padding-left: 32px !important; }

.p-y-md {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }

.p-a-lg {
  padding: 64px 64px !important; }

.p-t-lg {
  padding-top: 64px !important; }

.p-b-lg {
  padding-bottom: 64px !important; }

.p-x-lg {
  padding-right: 64px !important;
  padding-left: 64px !important; }

.p-y-lg {
  padding-top: 64px !important;
  padding-bottom: 64px !important; }

.p-a-xl {
  padding: 96px 96px !important; }

.p-t-xl {
  padding-top: 96px !important; }

.p-b-xl {
  padding-bottom: 96px !important; }

.p-x-xl {
  padding-right: 96px !important;
  padding-left: 96px !important; }

.p-y-xl {
  padding-top: 96px !important;
  padding-bottom: 96px !important; }

.xl {
  height: 96px !important; }

.lg {
  height: 64px !important; }

.md {
  height: 32px !important; }

.sm {
  height: 16px !important; }

.xs {
  height: 8px !important; }

em.bg-secondary,
em.bg-accent,
em.bg-error,
em.bg-info {
  padding: 0 8px; }

.bg-secondary {
  color: #FFFFFF;
  background-color: #292929; }

.bg-gray,
.bg-info {
  color: #161616;
  background-color: #E1E1E1; }

.bg-accent {
  color: #FFFFFF;
  background-color: #8CC63E; }

.bg-error {
  color: #FFFFFF;
  background-color: #C70D2C; }

.bg-secondary hr,
.bg-accent hr {
  background-color: #FFFFFF; }

.muted {
  color: #9e9e9e !important;
  border-color: #9e9e9e !important; }

.accent {
  color: #8CC63E !important;
  border-color: #8CC63E !important; }

.error {
  color: #C70D2C !important;
  border-color: #C70D2C !important; }

em.muted,
em.accent,
em.error,
em.bg-secondary,
em.bg-accent,
em.bg-error {
  font-style: normal !important; }

html[dir="ltr"] .eol {
  text-align: right !important; }

html[dir="rtl"] .eol {
  text-align: left !important; }

html[dir="ltr"] .float-eol {
  float: right !important; }

html[dir="rtl"] .float-eol {
  float: left !important; }

.center {
  text-align: center !important; }

.subheading {
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase; }

html[dir="ltr"] img.sol {
  float: left !important;
  margin-right: 16px; }

html[dir="rtl"] img.sol {
  float: right !important;
  margin-left: 16px; }

html[dir="ltr"] img.eol {
  float: right !important;
  margin-left: 16px; }

html[dir="rtl"] img.eol {
  float: left !important;
  margin-right: 16px; }

img.center {
  display: block;
  margin-right: auto !important;
  margin-left: auto !important; }

.no-wrap {
  white-space: nowrap !important; }

@media (max-width: 543px) {
  .no-wrap-mobile {
    white-space: nowrap !important; } }

.block {
  display: block !important;
  width: 100% !important; }

.clearfix::after {
  display: table;
  clear: both;
  content: ""; }

.embed {
  display: block;
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0; }

.embed iframe,
.embed video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.embed-16-9 {
  padding-bottom: 56.25%; }

.embed-4-3 {
  padding-bottom: 75%; }

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

@media (max-width: 991px) {
  .col-6.expand-on-tablet,
  .col-3.expand-on-tablet {
    width: 100%; } }

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.eot");
  src: url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.eot?#iefix") format("embedded-opentype"), local("Source Sans Pro Light"), local("Source-Sans-Pro-300"), url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.woff2") format("woff2"), url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.woff") format("woff"), url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.ttf") format("truetype"), url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.svg#SourceSansPro") format("svg"); }

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.eot");
  src: url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.eot?#iefix") format("embedded-opentype"), local("Source Sans Pro"), local("Source-Sans-Pro-regular"), url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff2") format("woff2"), url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff") format("woff"), url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.ttf") format("truetype"), url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.svg#SourceSansPro") format("svg"); }

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.eot");
  src: url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.eot?#iefix") format("embedded-opentype"), local("Source Sans Pro Bold"), local("Source-Sans-Pro-700"), url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff2") format("woff2"), url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff") format("woff"), url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.ttf") format("truetype"), url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.svg#SourceSansPro") format("svg"); }

html {
  box-sizing: border-box; }

body {
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html[dir="ltr"] th {
  text-align: left; }

html[dir="rtl"] th {
  text-align: right; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 0;
  font-size: 18px;
  line-height: inherit; }

a, img {
  border: none;
  outline: none; }

h2 + .row, .center blockquote + .row,
h1 + .row,
h2 + hr + .row,
.center blockquote + hr + .row,
h1 + hr + .row {
  margin-top: -16px; }

.section {
  margin-bottom: 96px; }
  @media (max-width: 768px) {
    .section {
      margin-bottom: 32px; } }

.section .section {
  margin-bottom: 64px; }
  @media (max-width: 768px) {
    .section .section {
      margin-bottom: 32px; } }

h1, h2, .center blockquote, h3, .group.items .item::before, h4, h5, h6 .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 120%; }

h1,
.h1 {
  margin: 96px 0 64px 0;
  text-transform: none;
  font-size: 42px;
  font-weight: 300; }
  @media (max-width: 768px) {
    h1,
    .h1 {
      font-size: 30px;
      margin-top: 32px; } }
  @media (max-width: 544px) {
    h1,
    .h1 {
      font-size: 26px;
      margin-bottom: 44px; } }

h1:not(.site-title)::after {
  display: block;
  position: absolute;
  margin-top: 30px;
  content: "";
  height: 3px;
  width: 24px;
  border: none;
  background-color: #161616; }

h2, .center blockquote,
.h2 {
  margin: 64px 0 32px 0;
  font-size: 28px;
  font-weight: 700; }
  @media (max-width: 768px) {
    h2, .center blockquote,
    .h2 {
      font-size: 24px;
      margin-top: 32px; } }
  @media (max-width: 544px) {
    h2, .center blockquote,
    .h2 {
      font-size: 22px;
      margin-bottom: 16px; } }

h3, .group.items .item::before,
.h3 {
  margin: 64px 0 32px 0;
  font-size: 22px;
  font-weight: 700; }
  @media (max-width: 768px) {
    h3, .group.items .item::before,
    .h3 {
      font-size: 20px;
      margin-top: 32px; } }
  @media (max-width: 544px) {
    h3, .group.items .item::before,
    .h3 {
      margin-bottom: 16px; } }

h4,
.h4 {
  margin: 32px 0 16px 0;
  font-size: 20px;
  font-weight: 700; }
  @media (max-width: 544px) {
    h4,
    .h4 {
      font-size: 18px; } }

h5,
.h5 {
  margin: 16px 0;
  font-size: 18px; }
  @media (max-width: 544px) {
    h5,
    .h5 {
      font-size: 16px; } }

h6,
.h6 {
  margin: 16px 0;
  font-size: 18px;
  font-weight: 400; }
  @media (max-width: 544px) {
    h6,
    .h6 {
      font-size: 16px; } }

html,
body {
  color: #161616;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5; }
  @media (max-width: 544px) {
    html,
    body {
      font-size: 16px; } }

small,
.small {
  margin-bottom: 8px;
  font-size: 70%;
  line-height: 80%; }

blockquote,
p,
ul,
ol,
dl,
.block {
  margin: 16px 0; }

a {
  cursor: pointer;
  text-decoration: underline;
  color: #8CC63E;
  font-weight: 400; }

a:hover, a:active {
  color: #292929; }

strong a {
  font-weight: 700; }

ol,
ul,
dl {
  padding: 0; }

ul li {
  padding: 0 32px; }

ol li,
ul li {
  display: block; }

li {
  position: relative;
  margin-bottom: 8px; }

ol {
  counter-reset: number; }

ol ol {
  counter-reset: letter; }

ol li {
  padding-left: 45px; }

ol li::before {
  display: inline-block;
  width: 45px;
  content: counter(number, decimal-leading-zero);
  counter-increment: number;
  text-align: center;
  color: #8CC63E;
  font-weight: 700;
  position: absolute;
  left: 0; }

ol ol li::before {
  content: counter(letter, upper-latin);
  counter-increment: letter; }

ul {
  list-style-type: none; }

ul li::before {
  display: inline-block;
  width: 32px;
  content: "-";
  text-align: center;
  font-weight: 700;
  position: absolute;
  left: 0; }

.unstyled li::before, #footer ul li::before {
  display: none;
  content: none; }

.unstyled li, #footer ul li {
  padding-left: 0; }

.unstyled li li, #footer ul li li {
  padding-left: 45px; }

.unstyle-list::before, .card.list li::before, #sidebar li::before {
  display: none;
  content: none; }

.unstyled a, #footer ul a,
.unstyled a:hover,
#footer ul a:hover,
.unstyled a:active,
#footer ul a:active {
  color: inherit; }

dl {
  margin: 32px 0; }

dt {
  margin: 16px 0; }

dd {
  margin: 16px 0 32px 0; }

dt {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700; }
  @media (max-width: 768px) {
    dt {
      font-size: 18px; } }

blockquote {
  margin: 0;
  padding: 0 32px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-style: italic; }

html[dir="ltr"] blockquote {
  border-left: 4px solid #E1E1E1; }

html[dir="rtl"] blockquote {
  border-right: 4px solid #E1E1E1; }

html .center blockquote {
  border: none; }

.center blockquote {
  margin: 0;
  padding: 64px 0;
  font-style: normal; }
  @media (max-width: 768px) {
    .center blockquote {
      font-size: 22px;
      padding: 32px 0; } }

.center blockquote p:last-child {
  margin-top: -8px; }

cite {
  font-size: 14px;
  font-style: normal; }

cite::before {
  content: "-- "; }

.center cite::before {
  content: none; }

code,
kbd,
pre,
samp {
  color: #161616;
  background-color: #E1E1E1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

pre {
  padding: 16px 24px; }

code,
samp {
  padding: 4px; }

pre > code {
  padding: 0; }

pre {
  overflow: scroll;
  margin: 0; }

hr {
  width: 24px;
  height: 3px;
  margin: 16px 0;
  border: none;
  background-color: #161616; }

h1 + hr,
h2 + hr,
.center blockquote + hr {
  position: absolute;
  margin: -32px 0 32px 0; }
  @media (max-width: 544px) {
    h1 + hr,
    h2 + hr,
    .center blockquote + hr {
      margin-top: -21px; } }

.center hr {
  margin: 16px auto; }

table {
  border-collapse: collapse !important; }

table td,
table th {
  background-color: #FFFFFF; }

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 32px; }

table th,
table td {
  padding: 16px;
  vertical-align: top; }

table td {
  border-top: 1px solid #E1E1E1; }

table thead th {
  vertical-align: bottom;
  text-transform: uppercase;
  border-bottom: 2px solid #E1E1E1; }

table tbody + tbody {
  border-top: 2px solid #E1E1E1; }

button, input[type="button"], input[type="reset"], input[type="submit"], .btn-outline-primary, .btn-outline-accent, .btn-primary, .btn-accent {
  display: inline-block;
  box-sizing: border-box;
  min-width: 150px;
  padding: 0 16px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 0px !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 42px;
  height: 44px; }

@media (max-width: 544px) {
  button, input[type="button"], input[type="reset"], input[type="submit"], .btn-outline-primary, .btn-outline-accent, .btn-primary, .btn-accent {
    display: block;
    float: none;
    margin: 16px 0;
    width: 100%; } }

.btn-primary {
  color: #FFFFFF;
  border-color: #161616;
  background-color: #161616; }

.btn-primary:hover, .btn-primary:active {
  color: #FFFFFF;
  border-color: #8CC63E;
  background-color: #8CC63E; }

.btn-accent {
  color: #FFFFFF;
  border-color: #8CC63E;
  background-color: #8CC63E; }

.btn-accent:hover, .btn-accent:active {
  color: #FFFFFF;
  border-color: #161616;
  background-color: #161616; }

.btn-outline-primary {
  color: #161616;
  border-color: #161616;
  background-color: transparent; }

.btn-outline-primary:hover, .btn-outline-primary:active {
  color: #8CC63E;
  border-color: #8CC63E; }

.btn-outline-accent {
  color: #8CC63E;
  border-color: #8CC63E;
  background-color: transparent; }

.btn-outline-accent:hover, .btn-outline-accent:active {
  color: #161616;
  border-color: #161616; }

.inline-buttons {
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: right; }

@media (min-width: 544px) {
  .inline-buttons a,
  .inline-buttons input {
    margin-left: 16px; } }

.btn-container {
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 544px) {
    .btn-container {
      margin-top: 32px;
      margin-bottom: 32px; } }
  @media (min-width: 768px) {
    .btn-container {
      margin-top: 64px;
      margin-bottom: 64px; } }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  margin: 8px 0 16px 0;
  padding: 4px 8px;
  color: #161616;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: none;
  font-size: 16px;
  line-height: 20px; }

select {
  vertical-align: middle;
  background-color: #FFFFFF; }

textarea {
  height: auto;
  min-height: 96px; }

label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; }

label em {
  font-weight: 400;
  font-style: normal; }

/* Floating box grid (with push/pull support)
 * NOTE: 1/4 is 1/2 on tablet
 * NOTE: all are 1/1 on mobile
 * NOTE: use column classes without a row to set block widths
 ******************************************************************************/
.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px; }

.row {
  margin-right: -16px;
  margin-left: -16px; }

.row::after {
  display: table;
  clear: both;
  content: ""; }

.col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  width: 100%; }

.row .col-3, .row .col-4, .row .col-5, .row .col-6, .row .col-7, .row .col-8, .row .col-9 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px; }

html[dir="ltr"] .row .col-3, html[dir="ltr"] .row .col-4, html[dir="ltr"] .row .col-5, html[dir="ltr"] .row .col-6, html[dir="ltr"] .row .col-7, html[dir="ltr"] .row .col-8, html[dir="ltr"] .row .col-9 {
  float: left; }

html[dir="rtl"] .row .col-3, html[dir="rtl"] .row .col-4, html[dir="rtl"] .row .col-5, html[dir="rtl"] .row .col-6, html[dir="rtl"] .row .col-7, html[dir="rtl"] .row .col-8, html[dir="rtl"] .row .col-9 {
  float: right; }

@media (max-width: 991px) {
  .row .col-3, .row .col-4, .row .col-5, .row .col-6, .row .col-7, .row .col-8, .row .col-9 {
    padding-top: 8px;
    padding-bottom: 8px; } }

@media (min-width: 544px) {
  .col-3 {
    width: 50%; }
  html[dir="ltr"] .push-3 {
    left: 50%; }
  html[dir="ltr"] .pull-3 {
    right: 50%; }
  html[dir="rtl"] .push-3 {
    right: 50%; }
  html[dir="rtl"] .pull-3 {
    left: 50%; } }

@media (min-width: 768px) {
  .col-6 {
    width: 50%; }
  html[dir="ltr"] .push-6 {
    left: 50%; }
  html[dir="ltr"] .pull-6 {
    right: 50%; }
  html[dir="rtl"] .push-6 {
    right: 50%; }
  html[dir="rtl"] .pull-6 {
    left: 50%; } }

@media (min-width: 992px) {
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.333333%; }
  .col-5 {
    width: 41.666667%; }
  .col-7 {
    width: 58.333333%; }
  .col-8 {
    width: 66.666667%; }
  .col-9 {
    width: 75%; }
  html[dir="ltr"] .push-4 {
    left: 33.333333%; }
  html[dir="ltr"] .push-5 {
    left: 41.666667%; }
  html[dir="ltr"] .push-7 {
    left: 58.333333%; }
  html[dir="ltr"] .push-8 {
    left: 66.666667%; }
  html[dir="ltr"] .pull-3 {
    right: 25%; }
  html[dir="ltr"] .pull-4 {
    right: 33.333333%; }
  html[dir="ltr"] .pull-5 {
    right: 41.666667%; }
  html[dir="ltr"] .pull-7 {
    right: 58.333333%; }
  html[dir="ltr"] .pull-8 {
    right: 66.666667%; }
  html[dir="ltr"] .pull-9 {
    right: 75%; }
  html[dir="rtl"] .push-4 {
    right: 33.333333%; }
  html[dir="rtl"] .push-5 {
    right: 41.666667%; }
  html[dir="rtl"] .push-7 {
    right: 58.333333%; }
  html[dir="rtl"] .push-8 {
    right: 66.666667%; }
  html[dir="rtl"] .pull-3 {
    left: 25%; }
  html[dir="rtl"] .pull-4 {
    left: 33.333333%; }
  html[dir="rtl"] .pull-5 {
    left: 41.666667%; }
  html[dir="rtl"] .pull-7 {
    left: 58.333333%; }
  html[dir="rtl"] .pull-8 {
    left: 66.666667%; }
  html[dir="rtl"] .pull-9 {
    left: 75%; } }

.card {
  padding: 32px;
  color: #161616;
  border: 1px solid #161616;
  background-color: #FFFFFF; }

.card h1, .card h2, .card .center blockquote, .center .card blockquote, .card h3, .card .group.items .item::before, .group.items .card .item::before, .card h4, .card h5, .card h6 .h1, h6 .card .h1, .card .h2, .card .h3, .card .h4, .card .h5, .card .h6 {
  height: 48px;
  margin: 16px 0 16px 0; }
  @media (max-width: 544px) {
    .card h1, .card h2, .card .center blockquote, .center .card blockquote, .card h3, .card .group.items .item::before, .group.items .card .item::before, .card h4, .card h5, .card h6 .h1, h6 .card .h1, .card .h2, .card .h3, .card .h4, .card .h5, .card .h6 {
      height: auto; } }

.card-icon {
  margin: 16px 0; }

.center .card-icon {
  margin: 48px 0 32px 0; }
  @media (max-width: 768px) {
    .center .card-icon {
      margin-top: 32px; } }
  @media (max-width: 544px) {
    .center .card-icon {
      margin-top: 16px; } }

img.card-icon,
.card-icon img {
  height: 48px; }

.card img.block {
  margin: 0; }

.card-summary {
  margin: 32px 0;
  height: 96px; }
  @media (max-width: 544px) {
    .card-summary {
      margin: 16px;
      height: auto; } }

.card button, .card input[type="button"], .card input[type="reset"], .card input[type="submit"], .card .btn-outline-primary, .card .btn-outline-accent, .card .btn-primary, .card .btn-accent {
  display: block;
  width: 100%;
  margin-bottom: -8px; }

.card li::before {
  width: 32px;
  text-align: left; }

.card h6 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300; }

.bg-secondary .card {
  border-color: #292929; }

.bg-accent .card {
  border-color: #8CC63E; }

.card.list {
  padding: 0; }

.card.list h1, .card.list h2, .card.list .center blockquote, .center .card.list blockquote, .card.list h3, .card.list .group.items .item::before, .group.items .card.list .item::before, .card.list h4, .card.list h5, .card.list h6 .h1, h6 .card.list .h1, .card.list .h2, .card.list .h3, .card.list .h4, .card.list .h5, .card.list .h6 {
  height: auto;
  margin: 0 0 8px 0;
  padding: 16px;
  color: #FFFFFF;
  background-color: #161616; }

.card.list p,
.card.list ul {
  margin: 16px; }

.card.list li {
  margin: 8px 0;
  padding: 4px 0;
  border-bottom: 1px dotted #8CC63E; }

.card.list a {
  text-decoration: none;
  color: #161616; }

.card.list a:hover, .card.list a:active {
  color: #8CC63E; }

.items {
  counter-reset: group; }

.item {
  position: relative;
  padding-left: 1.5em; }

.items .item::before {
  display: block;
  position: absolute;
  top: 0;
  width: 1.5em;
  content: counter(group, decimal-leading-zero);
  counter-increment: group;
  color: #8CC63E; }

html[dir="ltr"] .items .item::before {
  left: 0; }

html[dir="rtl"] .items .item::before {
  right: 0; }

.group-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 96px 0; }
  @media (max-width: 992px) {
    .group-container {
      padding: 8px; } }

.group-container > h1, .group-container > h2, .center .group-container > blockquote, .group-container > h3, .group.items .group-container > .item::before, .group-container > h4, .group-container > h5, h6 .group-container > .h1, .group-container > .h2, .group-container > .h3, .group-container > .h4, .group-container > .h5, .group-container > .h6,
.group-container > p {
  margin: 64px auto;
  padding: 0 16px; }

@media (max-width: 992px) {
  .group-container > p {
    margin: 32px auto; } }

.group {
  display: table;
  width: 100%;
  table-layout: fixed; }

.group-container .group {
  margin-bottom: 0; }

.group-container > h1, .group-container > h2, .center .group-container > blockquote, .group-container > h3, .group.items .group-container > .item::before, .group-container > h4, .group-container > h5, h6 .group-container > .h1, .group-container > .h2, .group-container > .h3, .group-container > .h4, .group-container > .h5, .group-container > .h6 {
  margin-top: 0; }
  @media (max-width: 992px) {
    .group-container > h1, .group-container > h2, .center .group-container > blockquote, .group-container > h3, .group.items .group-container > .item::before, .group-container > h4, .group-container > h5, h6 .group-container > .h1, .group-container > .h2, .group-container > .h3, .group-container > .h4, .group-container > .h5, .group-container > .h6 {
      margin: 32px auto; } }

.group .card,
.group .item {
  display: table-cell;
  vertical-align: top; }

.group.items .item::before {
  margin-top: 16px;
  text-align: center;
  width: 45px; }

html[dir="ltr"] .group .card + .card {
  border-left: 0; }

@media (max-width: 768px) {
  html[dir="ltr"] .group .card:first-child {
    border-left: 0; } }

html[dir="rtl"] .group .card + .card {
  border-right: 0; }

@media (max-width: 768px) {
  html[dir="rtl"] .group .card:last-child {
    border-right: 0; } }

.group.items .item {
  position: relative;
  margin-bottom: 32px;
  padding: 0 16px; }

.group.item-summary {
  height: 64px;
  margin-bottom: 32px; }

@media (min-width: 767px) {
  .group.item-summary {
    height: 112px; } }

@media (min-width: 991px) {
  .group.item-summary {
    height: 64px; } }

html[dir="ltr"] .group.items .item {
  padding-left: 45px; }

html[dir="rtl"] .group.items .item {
  padding-right: 45px; }

.group.items .item h1, .group.items .item h2, .group.items .item .center blockquote, .center .group.items .item blockquote, .group.items .item h3, .group.items .item .item::before, .group.items .item h4, .group.items .item h5, .group.items .item h6 .h1, h6 .group.items .item .h1, .group.items .item .h2, .group.items .item .h3, .group.items .item .h4, .group.items .item .h5, .group.items .item .h6 {
  position: relative;
  margin-top: 0;
  padding-top: 16px; }

.group.item button, .group.item input[type="button"], .group.item input[type="reset"], .group.item input[type="submit"], .group.item .btn-outline-primary, .group.item .btn-outline-accent, .group.item .btn-primary, .group.item .btn-accent {
  margin-top: 16px; }

.group.items .item::after {
  display: block;
  position: absolute;
  top: 8px;
  width: 16px;
  height: 0;
  content: " ";
  border-top: 2px solid #161616; }

html[dir="ltr"] .group.items .item::after {
  left: 45px; }

html[dir="rtl"] .group.items .item::after {
  right: 45px; }

@media (max-width: 1139px) {
  .group-5 .card,
  .group-4 .card {
    padding: 16px; } }

@media (min-width: 1200px) {
  .group-5 .card {
    padding: 16px; } }

@media (max-width: 1139px) {
  .group-5 .group-5 {
    display: block;
    position: relative;
    overflow: auto; }
  .group-5 > div,
  .group-4 > div {
    float: left; }
  .group-5 > div {
    width: 33.33333%; }
  .group-4 > div {
    width: 50%; }
  .group-5 > div:nth-child(4) {
    margin-left: 15%; }
  .group-4 .card,
  .group-5 .card {
    padding: 32px; }
  .group-5 > div {
    border-top: 0; } }

@media (max-width: 767px) {
  .group-3 {
    display: block;
    position: relative;
    overflow: auto; }
  .group-3 > div {
    float: left;
    width: 100%; }
  .group-5 > div {
    float: left;
    width: 50%; }
  .group-5 > div:nth-child(5) {
    margin-left: 25%; }
  .group-5 > div:nth-child(4) {
    margin-left: 0; } }

@media (max-width: 544px) {
  .group > div {
    width: 100%; }
  .group > div:nth-child(4),
  .group > div:nth-child(3),
  .group > div:nth-child(5) {
    margin-left: 0; } }

@supports (display: grid) {
  .group.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    @media (min-width: 350px) {
      .group.cards {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); } }
  .group.cards .card {
    display: inline-grid;
    width: 100%;
    grid-template-rows: auto 1fr auto; }
  .group.cards .card-summary {
    height: auto; }
  @media (min-width: 992px) {
    .group-4.cards {
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); } }
  @media (min-width: 768px) {
    .group-5.cards {
      grid-template-columns: repeat(auto-fit, minmax(33.3%, 1fr)); } }
  @media (min-width: 992px) {
    .group-5.cards {
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr)); } }
  .group-5.cards > div:nth-child(4),
  .group-5.cards > div:nth-child(5) {
    margin-left: 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    .group-5.cards > div:nth-child(4) {
      margin-left: 50%; } }
  @media (min-width: 700px) and (max-width: 991px) {
    .group-5.cards > div:nth-child(5) {
      margin-left: 50%; } } }

.masthead-img > img {
  width: 100%;
  margin: 32px 0; }

@media (max-width: 767px) {
  .masthead.bg-info {
    background-color: #FFFFFF; } }

@media (min-width: 768px) {
  .masthead-body > div {
    margin-top: 96px;
    margin-bottom: 96px; } }

@media (max-width: 767px) {
  .masthead-body h1 {
    margin-top: 32px; } }

@media (max-width: 767px) {
  .masthead .container {
    padding: 0; }
  .col-6.masthead-body {
    padding: 16px 32px; }
  .masthead-img img {
    padding: 32px 16px 0 16px;
    margin: 0; } }

.footnote {
  margin-top: 64px; }
  @media (max-width: 768px) {
    .footnote {
      margin-top: 32px; } }

.footnote-ref {
  font-weight: 700;
  font-size: 12px; }

.footnote li > p {
  margin: 0;
  display: inline-block; }

/*******************************************************************************
 * Youtube Embed
 ******************************************************************************/
.youtube-embed {
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%;
  /* 16:9 */ }

/* .youtube-embed-video
 ******************************************************************************/
.youtube-embed-video {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1; }

/* .youtube-embed-thumbnail
 ******************************************************************************/
.youtube-embed-thumbnail {
  min-width: 100%;
  min-height: 100%;
  transition: opacity 0.8s; }

.no-js .youtube-embed-thumbnail,
.show-disclaimer .youtube-embed-thumbnail {
  opacity: 0.2; }

/* .youtube-embed-disclaimer
 ******************************************************************************/
.youtube-embed-disclaimer {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  opacity: 0;
  background-color: #fff;
  font-size: 0.9em;
  text-align: center;
  transition: opacity 0.8s; }

.no-js .youtube-embed-disclaimer,
.show-disclaimer .youtube-embed-disclaimer {
  visibility: visible;
  opacity: 1; }

/* .youtube-embed-play
 ******************************************************************************/
.youtube-embed-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  margin-top: -40px;
  margin-left: -40px; }

.no-js .youtube-embed-play,
.show-disclaimer .youtube-embed-play {
  margin-top: -60px; }

#navbar {
  height: 64px;
  padding: 0 32px;
  background-color: #FFFFFF;
  line-height: 64px; }
  #navbar img {
    height: 16px;
    margin: 0; }

.js #navbar {
  position: absolute;
  z-index: 1;
  top: 0; }

.site-title {
  margin: 0;
  font-size: 17px;
  line-height: 64px;
  word-spacing: -2px; }

.site-title a {
  color: #161616;
  text-decoration: none;
  font-weight: 300; }

.site-title a strong {
  font-weight: 400; }

@media (min-width: 1200px) {
  html[dir="rtl"] .site-title {
    margin-right: 208px; }
  html[dir="ltr"] .site-title {
    margin-left: 208px; } }

@media (max-width: 1199px) {
  html[dir="ltr"] #navbar {
    margin-left: 60px; }
  html[dir="rtl"] #navbar {
    margin-right: 60px; }
  html[dir="ltr"].js #navbar {
    margin-left: 150px; }
  html[dir="rtl"].js #navbar {
    margin-right: 150px; }
  .js #navbar {
    z-index: 2;
    padding: 0;
    width: auto; }
  html:not(.open-sidebar).mobile #navbar {
    position: fixed;
    transition: transform 0.2s ease-in-out; }
  html:not(.open-sidebar).mobile.scrollDown #navbar {
    transform: translate(0, -96px); } }

#sidebar {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #161616;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; }
  #sidebar ul,
  #sidebar li {
    margin: 0;
    padding: 0;
    text-align: inherit; }
  #sidebar #sidebar-brand {
    height: 64px;
    line-height: 64px; }
  #sidebar #sidebar-logo {
    display: block;
    padding: 0 32px;
    text-align: inherit;
    background-color: #8CC63E; }
    #sidebar #sidebar-logo img {
      width: 32px;
      height: 32px;
      vertical-align: middle; }
  #sidebar #sidebar-open,
  #sidebar #sidebar-close,
  #sidebar .site-title {
    display: none; }
  #sidebar #sidebar-close img {
    width: 20px;
    height: 20px; }
  #sidebar #sidebar-open img {
    width: 36px;
    height: 18px; }

#sidebar-menus a,
#sidebar-menus a:hover,
#sidebar-menus a:active {
  display: block;
  text-decoration: none;
  color: inherit; }

@media (min-width: 1200px) {
  #sidebar {
    position: absolute;
    top: 0;
    width: 208px; }
  .js #sidebar {
    position: fixed;
    z-index: 2;
    height: 100%; }
  html[dir="ltr"] #sidebar {
    left: 0;
    text-align: right; }
  html[dir="rtl"] #sidebar {
    right: 0;
    text-align: left; } }

@media (max-width: 1199px) {
  #sidebar {
    margin-top: -64px; }
  .js #sidebar {
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 0;
    overflow: hidden;
    width: 100%;
    height: 64px; }
  html:not(.open-sidebar).mobile #sidebar {
    position: fixed;
    transition: transform 0.2s ease-in-out; }
  html:not(.open-sidebar).mobile.scrollDown #sidebar {
    transform: translate(0, -96px); }
  #sidebar-menus {
    margin-top: 30px; }
  .js #sidebar-menus {
    margin-top: 0; }
  .js.open-sidebar #sidebar {
    height: 100%;
    position: fixed; }
  html[dir="ltr"].js #sidebar {
    text-align: left; }
  html[dir="rtl"].js #sidebar {
    text-align: right; }
  .js #sidebar #sidebar-open {
    display: block; }
  .js.open-sidebar #sidebar #sidebar-open {
    display: none; }
  .js.open-sidebar #sidebar #sidebar-close {
    display: block; }
  #sidebar .site-title {
    display: block; }
  #sidebar #sidebar-brand {
    background-color: #FFFFFF; }
  #sidebar #sidebar-open,
  #sidebar #sidebar-close,
  #sidebar #sidebar-logo,
  #sidebar .site-title {
    padding: 0 16px; }
  #sidebar #sidebar-open,
  #sidebar #sidebar-close,
  #sidebar .site-title {
    height: 64px;
    line-height: 64px; }
  #sidebar #sidebar-open,
  #sidebar #sidebar-close {
    width: 64px;
    min-width: 64px;
    margin: 0;
    color: #FFFFFF;
    border: none;
    background-color: #161616;
    font-size: 32px; }
  html[dir="ltr"] #sidebar-open,
  html[dir="ltr"] #sidebar-close,
  html[dir="ltr"] #sidebar-logo,
  html[dir="ltr"] #sidebar .site-title {
    float: left; }
  html[dir="rtl"] #sidebar-open,
  html[dir="rtl"] #sidebar-close,
  html[dir="rtl"] #sidebar-logo,
  html[dir="rtl"] #sidebar .site-title {
    float: right; } }

#primary-navigation li {
  position: relative; }

#primary-navigation ul ul li {
  color: #8CC63E;
  font-size: 14px; }

#primary-navigation .active > a {
  font-weight: 700; }

#primary-navigation a:hover, #primary-navigation a:active {
  color: #8CC63E; }

#primary-navigation ul ul a:hover, #primary-navigation ul ul a:active {
  color: #6f9432; }

.js #primary-navigation ul ul {
  display: none; }

.js #primary-navigation ul .active ul {
  display: block; }

@media (min-width: 1200px) {
  #primary-navigation {
    margin-top: 64px; }
    #primary-navigation em {
      font-style: normal;
      font-size: 11px; }
    #primary-navigation > ul > li > a {
      padding: 8px 32px; }
    #primary-navigation > ul > li > ul > li > a {
      padding: 4px 32px; }
    #primary-navigation > ul > li.has-submenu > a {
      background-image: url("/img/png/icon-arrow-down.png");
      background-repeat: no-repeat;
      background-position: right 12px center;
      background-size: 8px 4px; }
    #primary-navigation > ul > li.active.has-submenu > a {
      background-image: url("/img/png/icon-arrow-up.png"); }
    #primary-navigation ul ul {
      margin: 8px 0 0 0; }
    #primary-navigation ul ul {
      margin: 0 0 8px 0; }
  html[dir="rtl"] #primary-navigation > ul > li > a {
    background-position: left 12px center; } }

@media (max-width: 1199px) {
  #primary-navigation > ul > li > a {
    display: block;
    margin: 0;
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
    line-height: 48px; }
  #primary-navigation > ul > li + li a {
    border-top: 0; }
  #primary-navigation ul ul {
    margin: 12px 0; }
  #primary-navigation ul ul li {
    margin: 0; }
  #primary-navigation ul ul li a {
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px; }
  #primary-navigation li > a {
    padding-right: 64px;
    padding-left: 64px; }
  #primary-navigation > ul > li.has-submenu > a {
    background-image: url("/img/png/icon-arrow-down.png");
    background-repeat: no-repeat;
    background-position: left 28px center;
    background-size: 8px 4px; }
  #primary-navigation > ul > li.active.has-submenu > a {
    background-image: url("/img/png/icon-arrow-up.png"); }
  html[dir="rtl"] #primary-navigation > ul > li > a {
    background-position: right 28px center; } }

#secondary-navigation {
  display: block; }

#contact-envelope {
  padding: 32px; }
  #contact-envelope img {
    height: 16px; }

.js #secondary-navigation {
  position: absolute;
  bottom: 0;
  width: 100%; }

@media (max-width: 1199px) {
  #secondary-navigation {
    height: 46px;
    background-color: #292929;
    line-height: 46px; }
    #secondary-navigation li {
      width: 50%;
      float: right; }
    #secondary-navigation #contact-envelope {
      float: right;
      width: 64px;
      margin: 0;
      padding: 0;
      text-align: center;
      vertical-align: center;
      border-left: 1px solid #161616; }
  .js #secondary-navigation {
    display: none; }
  .js #sidebar.open #secondary-navigation {
    display: block; } }

#breadcrumbs {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #292929;
  font-size: 12px;
  font-weight: 400; }
  #breadcrumbs a,
  #breadcrumbs a:hover,
  #breadcrumbs a:active {
    text-decoration: none;
    color: inherit; }
  #breadcrumbs ol {
    padding: 0 32px; }
  #breadcrumbs ol,
  #breadcrumbs li,
  #breadcrumbs li::before {
    margin: 0; }
  #breadcrumbs li {
    display: inline-block;
    line-height: 32px;
    padding-left: 0; }
    #breadcrumbs li::before {
      width: 0;
      content: ""; }
    #breadcrumbs li:last-child {
      font-weight: 700; }
    #breadcrumbs li + li {
      padding-left: 35px; }
    #breadcrumbs li + li::before {
      display: inline-block;
      width: 32px;
      content: ">";
      color: #FFFFFF;
      font-weight: 300; }

.js #breadcrumbs {
  z-index: 1; }

@media (max-width: 1199px) {
  #breadcrumbs ol {
    padding: 0 16px; }
  html:not(.open-sidebar).mobile #breadcrumbs {
    position: fixed;
    transition: transform 0.2s ease-in-out; }
  html:not(.open-sidebar).mobile.scrollDown #breadcrumbs {
    transform: translate(0, -96px); } }

@media (min-width: 1200px) {
  html[dir="ltr"] #breadcrumbs {
    padding-left: 208px; }
  html[dir="rtl"] #breadcrumbs {
    padding-right: 208px; } }

.outer {
  bottom: 0px;
  height: auto;
  width: 100%;
  overflow: auto;
  margin-top: 32px; }

.js .outer {
  margin-top: 96px; }

@media (max-width: 1199px) {
  .outer {
    margin-top: auto; }
  html:not(.open-sidebar).mobile .outer {
    position: static; }
  html:not(.open-sidebar).mobile.scrollDown .outer {
    margin-top: 32px; }
  .mobile.open-sidebar .outer {
    position: absolute; } }

@media (min-width: 1200px) {
  html[dir="ltr"] .outer {
    padding-left: 208px; }
  html[dir="rtl"] .outer {
    padding-right: 208px; } }

#footer {
  padding-top: 64px;
  padding-bottom: 96px;
  font-size: 14px;
  background-color: #292929;
  color: #FFFFFF; }
  @media (max-width: 768px) {
    #footer {
      padding-top: 32px;
      padding-bottom: 64px; } }
  @media (max-width: 544px) {
    #footer {
      padding-top: 16px;
      padding-bottom: 16px; } }
  #footer h1, #footer h2, #footer .center blockquote, .center #footer blockquote, #footer h3, #footer .group.items .item::before, .group.items #footer .item::before, #footer h4, #footer h5, #footer h6 .h1, h6 #footer .h1, #footer .h2, #footer .h3, #footer .h4, #footer .h5, #footer .h6 {
    position: relative;
    margin-bottom: 32px;
    padding-top: 8px; }
    @media (max-width: 544px) {
      #footer h1, #footer h2, #footer .center blockquote, .center #footer blockquote, #footer h3, #footer .group.items .item::before, .group.items #footer .item::before, #footer h4, #footer h5, #footer h6 .h1, h6 #footer .h1, #footer .h2, #footer .h3, #footer .h4, #footer .h5, #footer .h6 {
        margin-bottom: 16px; } }
  #footer h1::before, #footer h2::before, #footer .center blockquote::before, .center #footer blockquote::before, #footer h3::before, #footer .group.items .item::before, .group.items #footer .item::before, #footer h4::before, #footer h5::before, #footer h6 .h1::before, h6 #footer .h1::before, #footer .h2::before, #footer .h3::before, #footer .h4::before, #footer .h5::before, #footer .h6::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 0;
    content: " ";
    border-top: 2px solid #FFFFFF; }
  #footer a {
    color: #FFFFFF; }
  #footer a:hover {
    text-decoration: underline;
    color: #8CC63E !important; }
  #footer p {
    color: #E1E1E1; }
