{% if get_pages_metadata({"parent": "blog/index"}) %}
<div class="bg-accent">
  <section class="center group-container">
    <h2 id="recent-posts">
      {{ "Recent blog posts" | translate("recent-blog-posts", "Recent blog posts heading") }}
    </h2>
    <div class="row">
    {% for post in limit_sort(get_pages_metadata({"parent": "blog/index"})) %}
      <div class="card col-6">
        <div class="row">
          <div class="col-4">
            <a href="{{ post["page"] }}">
              <img
                  src="{{ post["featured_img_url"] }}"
                  alt="{{ post["featured_img_alt"] }}">
            </a>
          </div>
          <div class="col-8">
            <a href="{{ post["page"] }}">
              <h3>{{ post["title"] }}</h3>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
</div>
{% endif %}
