{% if get_pages_metadata({"parent": "blog/index", "committee": "true"}) %}
<div class="bg-accent">
  <section class="center group-container">
    <h2>
      {{ "Recent updates about the committee" | translate("recent-acc-heading", "Recent Acceptable Ads Committee heading") }}
    </h2>
    <div class="group group-4 cards">
    {% for post in limit_sort(get_pages_metadata({"parent": "blog/index", "committee": "true"}), 4) %}
      <div class="card">
        <article>
          <h3 class="card-heading">{{ post["title"] }}</h3>
          <footer class="card-footer">
            <a class="btn-outline-primary" href="{{ post["page"] }}">
              {{ "Read more" | translate("read-more", "Button text") }}
            </a>
          </footer>
        </article>
      </div>
    {% endfor %}
    </div>
  </section>
</div>
{% endif %}
