// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

// Minimal CSS reset
// - excludes elements styled elsewhere

html
{
  box-sizing: border-box;
}

body
{
  margin: 0;
}

*,
*::before,
*::after
{
  box-sizing: inherit;
}

// fix table header alignent
html[dir="ltr"] th
{
  text-align: left;
}

html[dir="rtl"] th
{
  text-align: right;
}

// @see http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea
{
  touch-action: manipulation;
}

// Reset the default outline of fieldsets so they don't affect page layout.
fieldset
{
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

// Reset the entire legend element to match the `fieldset`
legend
{
  display: block;
  width: 100%;
  margin-bottom: $sm;
  padding: 0;
  font-size: $font-size-lg;
  line-height: inherit;
}

// Remove image borders in IE<10
a, img
{
  border:none;
  outline:none;
}

// Simulate collapsable top-margin on first paragraph after page heading
h2 + .row,
h1 + .row,
h2 + hr + .row,
h1 + hr + .row
{
  margin-top: -$sm;
}

.section
{
  margin-bottom: $xl;

  @media (max-width: $tablet-breakpoint)
  {
    margin-bottom: $md;
  }
}

.section .section
{
  margin-bottom: $lg;

  @media (max-width: $tablet-breakpoint)
  {
    margin-bottom: $md;
  }
}
