// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

/* Floating box grid (with push/pull support)
 * NOTE: 1/4 is 1/2 on tablet
 * NOTE: all are 1/1 on mobile
 * NOTE: use column classes without a row to set block widths
 ******************************************************************************/

.container
{
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter-width;
  padding-left: $gutter-width;
}

.row
{
  margin-right: -$gutter-width;
  margin-left: -$gutter-width;
}

.row::after
{
  display: table;
  clear: both;
  content: "";
}

%columns
{
  width: 100%;
}

.row %columns
{
  position: relative;
  min-height: 1px;
  padding-right: $gutter-width;
  padding-left: $gutter-width;
}

html[dir="ltr"] .row %columns
{
  float: left;
}

html[dir="rtl"] .row %columns
{
  float: right;
}

@media(max-width: $desktop-breakpoint - 1)
{
  .row %columns
  {
    padding-top: $gutter-width / 2;
    padding-bottom: $gutter-width / 2;
  }
}

// Allow 1/4 columns to be 1/2 columns on tablet
@media(min-width: $mobile-breakpoint)
{
  .col-3
  {
    width: 50%;
  }

  html[dir="ltr"] .push-3 {
    left: 50%;
  }

  html[dir="ltr"] .pull-3 {
    right: 50%;
  }

  html[dir="rtl"] .push-3 {
    right: 50%;
  }

  html[dir="rtl"] .pull-3 {
    left: 50%;
  }

}

@media(min-width: $tablet-breakpoint)
{
  .col-6
  {
    width: 50%;
  }

  html[dir="ltr"] .push-6 {
    left: 50%;
  }

  html[dir="ltr"] .pull-6 {
    right: 50%;
  }

  html[dir="rtl"] .push-6 {
    right: 50%;
  }

  html[dir="rtl"] .pull-6 {
    left: 50%;
  }
}

// Allow 1/2 - 1/4 columns on desktop
@media(min-width: $desktop-breakpoint)
{
  .col-3
  {
    width: 25%;
  }

  .col-4
  {
    width: 33.333333%;
  }

  .col-5
  {
    width: 41.666667%;
  }

  .col-7
  {
    width: 58.333333%;
  }

  .col-8
  {
    width: 66.666667%;
  }

  .col-9
  {
    width: 75%;
  }

  html[dir="ltr"] .push-4 {
    left: 33.333333%;
  }

  html[dir="ltr"] .push-5 {
    left: 41.666667%;
  }

  html[dir="ltr"] .push-7 {
    left: 58.333333%;
  }

  html[dir="ltr"] .push-8 {
    left: 66.666667%;
  }

  html[dir="ltr"] .pull-3 {
    right: 25%;
  }

  html[dir="ltr"] .pull-4 {
    right: 33.333333%;
  }

  html[dir="ltr"] .pull-5 {
    right: 41.666667%;
  }

  html[dir="ltr"] .pull-7 {
    right: 58.333333%;
  }

  html[dir="ltr"] .pull-8 {
    right: 66.666667%;
  }

  html[dir="ltr"] .pull-9 {
    right: 75%;
  }

  html[dir="rtl"] .push-4 {
    right: 33.333333%;
  }

  html[dir="rtl"] .push-5 {
    right: 41.666667%;
  }

  html[dir="rtl"] .push-7 {
    right: 58.333333%;
  }

  html[dir="rtl"] .push-8 {
    right: 66.666667%;
  }

  html[dir="rtl"] .pull-3 {
    left: 25%;
  }

  html[dir="rtl"] .pull-4 {
    left: 33.333333%;
  }

  html[dir="rtl"] .pull-5 {
    left: 41.666667%;
  }

  html[dir="rtl"] .pull-7 {
    left: 58.333333%;
  }

  html[dir="rtl"] .pull-8 {
    left: 66.666667%;
  }

  html[dir="rtl"] .pull-9 {
    left: 75%;
  }

}
