// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

.masthead-img > img
{
  width: 100%;
  margin: $md 0;
}

@media(max-width: $tablet-breakpoint - 1)
{
  .masthead.bg-info
  {
    background-color: $primary-bg;
  }
}

@media(min-width: $tablet-breakpoint)
{
  .masthead-body > div
  {
    margin-top: $xl;
    margin-bottom: $xl;
  }
}

@media(max-width: $tablet-breakpoint - 1)
{
  .masthead-body h1
  {
    margin-top: $md;
  }
}

@media(max-width: $tablet-breakpoint - 1)
{
  .masthead .container
  {
    padding: 0;
  }

  .col-6.masthead-body
  {
    padding: $sm $md;
  }

  .masthead-img img
  {
    padding: $md $sm 0 $sm;
    margin: 0;
  }
}
