title=About | The Acceptable Ads Committee
description=The Acceptable Ads Committee creates new and exceptional ad standards that improve the user experience for ad-blocking users while, just as importantly, delivering real value to content publishers and online advertisers
custom=1
breadcrumb=Committee

<style>
  .card .card-heading
  {
    font-size: 16px;
    height: auto;
  }

  @media (min-width: 768px)
  {
    .card .card-heading
    {
      height: 90px;
    }
  }
</style>

<div class="container section">
  <h1>{{aac-heading[Page Heading] Acceptable Ads Committee}}</h1>
  <p>{{aac-paragraph1[Acceptable Ads Committee Paragraph 1] In <fix>2017</fix>, <fix>eyeo GmbH</fix> handed over control of the Acceptable Ads initiative to an independent committee made up of eleven stakeholders who represent three distinct coalitions: User Advocates Coalition (digital rights organization, ad-block user), For Profit Coalition (advertiser, advertising agency, ad-tech company, publisher / content creator) and the Expert Coalition (user agent, creative agent, researcher / academia). This committee, aptly called the Acceptable Ads Committee, has full control over the Acceptable Ads initiative, including what’s deemed acceptable by defining the Acceptable Ads criteria. }}</p>
  <p>{{aac-paragraph2[Acceptable Ads Committee Paragraph 2] The committee's goal is simple: create new and exceptional ad standards that improve the user experience for ad-blocking users while, just as importantly, delivering real value to content publishers and online advertisers. }}</p>
</div>

<? include blog/recent-aac ?>
