<h3>Block fields</h3>
<label for="text-input-example">
  Text input label
</label>
<input name="text-input-example" type="text" placeholder="Text input">
<label for="select-example">
  Select box label
</label>
<select name="select-example">
  <option value="1">Select option</option>
</select>
<label for="textarea-example">
  Textarea label
</label>
<textarea name="textarea-example">Textarea</textarea>
