title=Acceptable Ads
description=Acceptable Ads are nonintrusive ad formats that are accepted by ad blocking users and allow content creators to monetize their content
custom=1

<? include index/style ?>

<div class="masthead bg-info">
  <div class="container" role="banner">
    <div class="row">
      <div class="col-6 masthead-img">
        <img id="homepage-main-img" alt="{{masthead-img-alt[Masthead image alt text] Acceptable Ads banner}}" src="/img/png/acceptableads-crowd.png" />
      </div>
      <div class="col-6 masthead-body">
        <div>
        <? include index/masthead ?>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container section">
  <? include index/what-are-aa ?>
</div>

<div class="bg-accent">
  <div class="group-container center">
    <? include index/who-benifits ?>
  </div>
</div>
