{#
 # This file is part of acceptableads.org.
 # Copyright (C) 2016-present eyeo GmbH
 #
 # acceptableads.org is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # acceptableads.org is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.
 #}

<aside id="sidebar" class="open">
  <div id="sidebar-brand">
    <button id="sidebar-open" type="button" data-toggle="collapse" data-target="#primary-navigation" aria-controls="primary-navigation" aria-expanded="false" aria-label="{{ 'Open primary navigation' | translate('sidebar-toggle-open-label', 'Primary navigation open label') }}"><img src="/img/png/icon-menu.png" srcset="/img/png/icon-menu.png, /img/png2x/icon-menu.png 2x" aria-hidden="true"></button>
    <button id="sidebar-close" type="button" data-toggle="collapse" data-target="#primary-navigation" aria-controls="primary-navigation" aria-expanded="true" aria-label="{{ 'Close primary navigation' | translate('sidebar-toggle-close-label', 'Primary navigation close label') }}"><img src="/img/png/icon-menu-x.png" srcset="/img/png/icon-menu-x.png, /img/png2x/icon-menu-x.png 2x" aria-hidden="true"></button>
    {{ "index" | linkify(id="sidebar-logo") }}
      <img src="/img/png/logo-white.png" srcset="/img/png/logo-white.png, /img/svg/logo-white.svg 2x" aria-hidden="true">
    </a>
  </div>
  <div id="sidebar-menus">
    <nav id="primary-navigation" role="navigation">
      <? include sidebar/primary-navigation ?>
    </nav>
    <nav id="secondary-navigation" role="navigation">
      <? include sidebar/secondary-navigation ?>
    </nav>
  </div>
</aside>
